<!DOCTYPE html>
<html>

    <!-- Header -->
    <header>
        <title>Analytics Reflector</title>
        <link rel="stylesheet" href="style.css">
    </header>

    <!-- Body -->
    <body bgcolor="lightblue" class="content">
        <!-- Topic Section -->
        <h1> Your Device <var id="output"></var> </h1>

        <!-- Test Information -->
        <hr style="border-top: dotted 1px;" />
        <div>
            <p>Your Operating System is: <var id="os"></var></p>
            <p>Your Browser is: <var id="browser"></var></p>
            <p>Your System Language is: <var id="lang"></var></p>
        </div>
        
        <!-- Knowledge and Tips -->
        <hr style="border-top: dotted 1px;" />
        <div>
            <h2>Did you know?</h2>
            <p>MacOS users tend to spend more than Windows users for the same content. </p>
            <p>MacOS users tend to be . </p>
        </div>

        <!-- Next Testing Section -->
        <hr style="border-top: dotted 1px;" />
        <div>
            <a href="network.html">Next: Network Connectivity</a>
        </div>

        <!-- References -->
        <div>

        </div>

        <!-- Footnote Section -->
        <div class="footer">
            <p>This website is created as a University of Michigan class project and is distributed under the GPLv2 license. Please read source code <a href="https://www.github.com/DanielHou315">here</a></p>
        </div>



        <script src="info.js"></script>

    </body>  
</html>